.THIS .title {

    
font-size: 24px;
    text-align: center;
}
.THIS .title2 {

    
font-size: 20px;
    text-align: center;
}
.THIS .reminder {
    
    font-size: 12px;
    text-align: left;
    padding: 8px;
}