.THIS .tableElement{
       background-color: #fafaf9;
    /*   position: relative;
    border-collapse: collapse;*/

}
.THIS .slds-table_header-fixed_container:before, 
.THIS .slds-table--header-fixed_container:before {
    border-bottom: 1px solid rgb(221, 219, 218);
    content: '';
    display: block;
    position: relative;
    width: 100%;
}
.THIS.listViewContent{
        overflow: hidden;
    height:100%;
        position: relative;
    padding-top: 2rem;
    background-color: rgb(250, 250, 249);
}
.THIS .scroller-wrapper {
    transform: none;
    position: static;
    outline: none;
}
.THIS .uiScroller.native {
    overflow: auto;
}
.THIS .uiScroller{
        width: 100%;
    height: 100%;
}
.THIS .scroller{
    transform: none;
    position: static;
    min-width: 100%;
}
.THIS .uiScroller.native>.scroller {
    user-select: text;
}

.THIS th {
}
.THIS .numberFieldFix{
   __position: relative;
    __width: 100%;
}
.THIS .numberFieldHeaderFix{
    __width: 45px;
    __position: absolute;
	__bottom:-9px;
    __right: 0;
}
.THIS th:hover,.THIS svg:hover {
    background-color: #fff;
    color: currentColor;
}
.THIS .slds-table thead th{
    background-color: #fafaf9;
    /*  position: sticky;
    top: 0;*/

}
.THIS .errorwidth{
    min-width : 10px!important;
     max-width : 20px!important;   
}
.THIS .totalFix{
        padding-left: 2.8rem!important;
 
}
.THIS .countFix{
    padding-left: .8rem!important;
}
.THIS .table{
	background-color: white;
	overflow-x: auto;
    overflow-y: hidden;
	width: 100%;    
}
.THIS .slds-is-sortable .slds-th__action:hover  .slds-icon_xx-small{
    fill: #0070d2;
}
.THIS .slds-is-sortable .slds-th__action:hover .iconHover {
    display:inline-block!important;
}
.THIS .slds-is-sortable .slds-th__action  .slds-icon_xx-small{
      line-height: 1;
    width: .75rem; 
    height: .75rem;
    margin-left: .25rem;
}
.THIS .slds-table th:focus{
        box-shadow: #0070d2 0 0 0 1px inset
}

.THIS .resizehandle{
    position: absolute;
    right: 0;
    top: 0;
    width: .25rem;
    height: 100%;
    background: none !important;
    display: block;
    cursor: col-resize;
    opacity: 1 !important;
    z-index: 5000;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zd…o8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==)!important;
    width: 10px!important;
    height: 22px!important;
    margin: 0.25em!important;
    background-size: cover!important;
    cursor: grab!important;
    
}
.THIS .slds-resizable__handle:active, .THIS .slds-resizable__handle:focusm .THIS .slds-resizable__handle:hover {
    opacity: 0 !important;
}
.THIS .resizedivider{
    background-size: cover;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjODg4Ij48L3JlY3Q+Cjwvc3ZnPg==")!important;
    width: 10px!important;
    height: 35px!important;
    cursor: grab;
    cursor: -webkit-grab;
    margin: 0.5em;
    position: absolute;
    right: -7px!important;
    top: -7px!important;
    height: 100vh;
}
.THIS .slds-is-sortable .slds-th__action:hover{
           background-color: #ffffff!important;
        
}
.THIS .slds-is-sortable .slds-th__action:focus{
           background-color: #ffffff!important;
box-shadow: #005fb2 0 0 0 1px inset, #005fb2 -0.25rem 0 0 inset;}